<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hotel Admin</title>
  </head>
  <body>
    <form action="{% url 'hotels:select' %}" method="post">  
    {% csrf_token %}
    <fieldset>
        <legend><h1>Please choose a city</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for city in all_cities %}
            <input type="radio" name="city" id="city{{ forloop.counter }}" value="{{ city.id }}">
            <label for="city{{ forloop.counter }}">{{ city.name }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    </form>
  </body>
</html>